@model IEnumerable<Data.Cliente>
<div class="table-responsive" style="background-color:white;">
    <br />
    <table class="table table-sm table-hover" id="tblCliente">
        @if (Model != null)
        {

            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Identificación
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Email
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @*<tr style="cursor:pointer;" onclick="DetalleServicio(@item.Id)">*@
                    <tr style="cursor:pointer;">
                        <td>
                            @item.Id
                        </td>
                        <td style=" word-break: break-all;">
                            @item.NombreCompleto
                        </td>
                        <td>
                            @item.Identificacion
                        </td>
                        <td>
                            @item.Celular
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="Eliminar(@item.Id)">Eliminar</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="DetalleCliente(@item.Id)">Consultar</button>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>